.homeCaseStudy {
  font-family: "Poppins", sans-serif;
  .embla {
    margin-top: 50px;
    max-width: 100%;
    position: relative;

    .embla__viewport {
      overflow: hidden;

      .embla__container {
        backface-visibility: hidden;
        display: flex;
        touch-action: pan-y pinch-zoom;
        margin-left: calc(25px * -1);

        .embla__slide {
          min-width: 0;
          flex: 0 0 calc(50%);
          padding-left: 25px;
          height: 550px;

          .casestudyBox {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 100%;
            width: 100%;
            border-radius: 20px;
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              opacity: 0.9;
              background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.75) 0%,
                rgba(0, 0, 0, 0) 100%
              );
              mix-blend-mode: multiply;
              height: 580px;
              width: 100%;
              border-radius: 0px 0px 20px 20px;
              position: absolute;
              left: 0px;
              bottom: -300px;
              transition: bottom 0.5s ease-in-out;
            }

            .casestudyContent {
              position: absolute;
              bottom: 30px;
              width: 100%;
              left: 0px;
              padding: 0px 30px;

              .casestudyTxt {
                .logoSec {
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: start;
                  justify-content: center;
                  margin-bottom: 0px;
                  transition: margin-bottom 0.3s ease-in-out;

                  h3 {
                    color: #fff;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 50px;
                    letter-spacing: -0.165px;
                    display: inline-block;
                    margin-bottom: 15px;
                  }

                  .para {
                    color: #fff;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 35px;
                    letter-spacing: -0.165px;
                    display: inline-block;
                  }
                }

                .casestudyPara {
                  opacity: 0;
                  max-height: 0;
                  overflow: hidden;
                  transition: opacity 0.3s ease-in-out,
                    max-height 0.4s ease-in-out;

                  p {
                    color: #fff;
                  }

                  .btnSec {
                    display: flex;
                    justify-content: space-between;

                    ul {
                      display: flex;
                      justify-content: flex-start;
                      align-items: center;
                      gap: 10px;
                      flex-wrap: wrap;

                      li {
                        border: 1px solid #fff;
                        border-radius: 23px;
                        color: #fff;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 35px;
                        letter-spacing: -0.165px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 40px;
                        padding: 0px 15px;
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              &::before {
                bottom: 0;
              }

              .casestudyContent {
                .casestudyTxt {
                  .logoSec {
                    margin-bottom: 10px;
                  }

                  .casestudyPara {
                    opacity: 1;
                    max-height: 500px;
                    transition: opacity 0.3s ease-in-out,
                      max-height 0.4s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .homeCaseStudy {
   
    .embla {
     

      .embla__viewport {

        .embla__container {
          margin-left: calc(22px * -1);

          .embla__slide {
            padding-left: 22px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .homeCaseStudy {
    .embla {

      .embla__viewport {

        .embla__container {
          margin-left: calc(20px * -1);

          .embla__slide {
            height: 500px;
            padding-left: 20px;
            .casestudyBox {

              

              .casestudyContent {

                .casestudyTxt {
                  .logoSec {

                    h3 {
                      font-size: 35px;
                      line-height: 45px;
                    }

                    .para {
                      font-size: 25px;
                      line-height: 35px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .homeCaseStudy {
    .embla {

      .embla__viewport {

        .embla__container {
          margin-left: calc(18px * -1);

          .embla__slide {
            height: 470px;
            padding-left: 18px;

            .casestudyBox {

              

              .casestudyContent {

                .casestudyTxt {
                  .logoSec {

                    h3 {
                      font-size: 30px;
                      line-height: 35px;
                    }

                    .para {
                      font-size: 20px;
                      line-height: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .homeCaseStudy {
    .embla {

      .embla__viewport {

        .embla__container {
          margin-left: calc(16px * -1);

          .embla__slide {
            height: 440px;
            padding-left: 16px;

            .casestudyBox {

              

              .casestudyContent {

                .casestudyTxt {
                  .logoSec {

                    h3 {
                      font-size: 30px;
                      line-height: 35px;
                    }

                    .para {
                      font-size: 20px;
                      line-height: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .homeCaseStudy {
    .embla {

      .embla__viewport {

        .embla__container {
          margin-left: calc(25px * -1);

          .embla__slide {
            flex: 0 0 calc(100%);
            height: 420px;
            padding-left: 25px;

            .casestudyBox {

              

              .casestudyContent {

                .casestudyTxt {
                  .logoSec {

                    h3 {
                      font-size: 35px;
                      line-height: 40px;
                    }

                    .para {
                      font-size: 25px;
                      line-height: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .homeCaseStudy {
    .embla {

      .embla__viewport {

        .embla__container {
          margin-left: calc(25px * -1);

          .embla__slide {
            flex: 0 0 calc(100%);
            height: 400px;
            padding-left: 25px;

            .casestudyBox {

              

              .casestudyContent {

                .casestudyTxt {
                  .logoSec {

                    h3 {
                      font-size: 30px;
                      line-height: 35px;
                    }

                    .para {
                      font-size: 20px;
                      line-height: 25px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
