.digitalSection {
  position: relative;
  font-family: "Poppins", sans-serif;
  background: #141414;
  //   padding: 150px 0; // Added padding to the section

  .bitsWits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    transition: all 0.5s ease;
    cursor: pointer; // Change cursor to indicate it's hoverable
    height: 250px;
    margin: 50px 0;

    .bits,
    .wits {
      display: inline-block;
      transition: transform 0.5s ease;
      transform: translateX(0px);
      font-style: normal;
      font-weight: 700;
      font-size: 200px;
      line-height: 55px;
    }

    .bits {
      color: #f32faf;
      
    }

    .wits {
      color: #4a78ef;
      
    }

    &:hover {
      .bits {
        transform: translateX(-75px);
      }
      .wits {
        transform: translateX(75px);
        font-style: normal;
        font-weight: 700;
        font-size: 200px;
        line-height: 55px;
      }
    }
  }

  .DigitalCtaContent {
    position: relative;

    h2 {
      color: #fff;
      margin-bottom: 20px;
    }

    p {
      color: #9d9d9d;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: -0.165px;
    }
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .digitalSection {
    position: relative;
    height: 770px;

    .digitalContent {
      font-size: 160px;

      span {
        font-size: 55px;
        line-height: 68px;
        margin-right: 20px;
      }
    }

    // .digitalAnimatedBox {
    //     .digitalAnimatedTxt {
    //         height: 170px;
    //         flex: 0 0 70%;

    //         span {
    //             font-size: 150px;
    //             line-height: 125px;
    //         }
    //     }
    // }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .digitalSection {
    position: relative;
    height: 650px;

    // .digitalContent {
    //     font-size: 150px;

    //     span {
    //         font-size: 50px;
    //         line-height: 63px;
    //         margin-right: 20px;
    //     }
    // }

    // .digitalAnimatedBox {
    //     .digitalAnimatedTxt {
    //         height: 160px;
    //         flex: 0 0 70%;

    //         span {
    //             font-size: 140px;
    //             line-height: 125px;
    //         }
    //     }
    // }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .digitalSection {
    position: relative;
    height: 600px;

    // .digitalContent {
    //     font-size: 140px;

    //     span {
    //         font-size: 45px;
    //         line-height: 60px;
    //         margin-right: 20px;
    //     }
    // }

    // .digitalAnimatedBox {
    //     .digitalAnimatedTxt {
    //         height: 150px;
    //         flex: 0 0 70%;

    //         span {
    //             font-size: 130px;
    //             line-height: 120px;
    //         }
    //     }
    // }
  }
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .digitalSection {
    position: relative;
    height: 550px;

    // .digitalContent {
    //     font-size: 140px;

    //     span {
    //         font-size: 45px;
    //         line-height: 60px;
    //         margin-right: 20px;
    //     }
    // }

    // .digitalAnimatedBox {
    //     .digitalAnimatedTxt {
    //         height: 150px;
    //         flex: 0 0 70%;

    //         span {
    //             font-size: 130px;
    //             line-height: 120px;
    //         }
    //     }
    // }
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .digitalSection {
    height: 450px;

    // .digitalContent {
    //     font-size: 110px;

    //     span {
    //         font-size: 40px;
    //         line-height: 50px;
    //         margin-right: 15px;
    //     }
    // }

    // .digitalAnimatedBox {
    //     .digitalAnimatedTxt {
    //         height: 120px;
    //         flex: 0 0 75%;

    //         span {
    //             font-size: 90px;
    //             line-height: 80px;
    //         }
    //     }
    // }
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .digitalSection {
    height: auto;

    // .digitalContent {
    //     font-size: 90px;
    //     flex-wrap: wrap;

    //     span {
    //         font-size: 40px;
    //         line-height: 50px;
    //         margin-right: 15px;

    //         br {
    //             display: none;
    //         }
    //     }
    // }

    // .digitalAnimatedBox {
    //     flex-wrap: wrap;
    //     justify-content: center;

    //     .digitalAnimatedTxt {
    //         height: 100px;
    //         flex: 0 0 100%;

    //         span {
    //             font-size: 70px;
    //             line-height: 60px;
    //         }
    //     }
    // }
  }
}
